.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }


/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 40px; margin: 5px 0; padding: 5px 10px; color: #ffffff; vertical-align: middle; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #121515;
    background: -webkit-linear-gradient(top, #121515 0%, #121515 100%);
    background:    -moz-linear-gradient(top, #121515 0%, #121515 100%);
    background:         linear-gradient(top, #121515 0%, #121515 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #ffffff; background: #121515; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #121515 25%, transparent 25%, transparent 75%, #121515 75%, #121515), 
                      -webkit-linear-gradient(45deg, #121515 25%, transparent 25%, transparent 75%, #121515 75%, #121515);
    background-image:    -moz-linear-gradient(45deg, #121515 25%, transparent 25%, transparent 75%, #121515 75%, #121515), 
                         -moz-linear-gradient(45deg, #121515 25%, transparent 25%, transparent 75%, #121515 75%, #121515);
    background-image:         linear-gradient(45deg, #121515 25%, transparent 25%, transparent 75%, #121515 75%, #121515), 
                              linear-gradient(45deg, #121515 25%, transparent 25%, transparent 75%, #121515 75%, #121515);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }
#nestable1-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #1b1e24;
    background: #bbb;
    background: -webkit-linear-gradient(top, #1b1e24 0%, #1b1e24 100%);
    background:    -moz-linear-gradient(top, #1b1e24 0%, #1b1e24 100%);
    background:         linear-gradient(top, #1b1e24 0%, #1b1e24 100%);
}
#nestable2 .dd-handle:hover { background: #121515; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) { 

    .dd { float: left; width: 48%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #121515 !important; }

/**
 * Nestable Draggable Handles
 */